In [1]:
## input: 1,4, +
## output: 5
## input: 10,6,-
## output: 4
## input: 4,10,*
## output: 40

n1 = int(input('enter first number: '))
n2 = int(input('enter second number: '))
ch = input()
if ch == '+':
    print(n1+n2)
elif ch == '-':
    print(n1-n2)
elif ch == '*':
    print(n1*n2)
elif ch == '/':
    print(n1/n2)
else:
    print('Invalid')

enter first number: 10
enter second number: 12
*
120

## input: 12 56 98
## output: 98

In [2]:
n1 = int(input())
n2 = int(input())
n3 = int(input())
if(n1>n2 and n1>n3):
    print(n1)
elif(n2>n3):
    print(n2)
else:
    print(n3)

12
56
98
98

Syntax:

if(condition):
    statements/logic
    if(condition):
        statements/logic
    else:
        statements/logic

Enter User_id = 1 -- 100
    enter pwd == 12345
        Successfully entered
    Wrong password  
Invalid user

In [5]:
u_id = int(input('enter user id: '))
if(u_id>=1 and u_id<=100):
    pw = int(input('enter password: '))
    if(pw == 12345):
        print('Successfully entered')
    else:
        print('Wrong password')
else:
    print('Invalid user')

enter user id: 45
enter password: 12345
Successfully entered

## Control Statements/ Loops

- for
    - To repeat same in multiple times
- while
- nested for
- nested while

In [6]:
print('Supriya')
print('Supriya')
print('Supriya')
print('Supriya')
print('Supriya')
print('Supriya')

Supriya
Supriya
Supriya
Supriya
Supriya
Supriya

Syntax of for


for varaible in range(start,end,step):
    statements/logic

In [7]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
for i in range(1,10):  ## step is default by 1
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
for i in range(10):  ## start is default which is '0'
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for j in range(1,20,2):
    print(j,end=' ')

1 3 5 7 9 11 13 15 17 19

### Sum of n natural number

In [12]:
s = int(input('enter start value: ')) # 1
e = int(input('enter end value: ')) # 5
s = 0
for var in range(s,e+1): # (1,6) 1 2 3 4 5
    s += var ## s = s + var // s = 0+1 //s = 1+2 //s = 3+3
print(s)

enter start value: 1
enter end value: 100
5050

In [15]:
s = int(input())
e = int(input())
print('Even numbers are: ')
for i in range(s,e+1):
    if(i%2 == 0):
        print(i,end=' ')
print('\nOdd numbers are: ')
for i in range(s,e+1):
    if(i%2 != 0):  # i%2 == 1
        print(i,end=' ')

78
120
Even numbers are:
78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120
Odd numbers are:
79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119

In [16]:
chr(78)

'N'

In [17]:
ord('n')

110

In [22]:
print('Lowercase letters are: ')
for i in range(ord('a'),ord('z')+1):  ## range(97,122+1)
    print(chr(i),end=' ') ## chr(97)
print('\nUppercase letters are: ')
for i in range(ord('A'),ord('Z')+1):
    print(chr(i),end=' ')

Lowercase letters are:
a b c d e f g h i j k l m n o p q r s t u v w x y z
Uppercase letters are:
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [19]:
ord('a')

97

In [21]:
chr(97)

'a'

In [20]:
ord('z')

122

## Print factorial of the given number

In [23]:
## input: 5
## output: 120
## 5 * 4 * 3 * 2 * 1

n = int(input()) # 5
f = 1
for i in range(1,n+1):
    f *= i ## f = f*i ## f = 1*1 // f = 1*2 // f = 2*3 //f = 6*4 //f = 24*5
print(f)

5
120

In [26]:
## Factors for given number
## input: 10  // 1 2 3 4 5 6 7 8 9 10
## output: 1 2 5 10

h = int(input())
f_sum = 0
f_cnt = 0
print('Factors are: ')
for i in range(1,h+1):
    if h%i == 0:
        f_sum += i
        f_cnt += 1
        print(i,end=' ')
print('\nFactors sum is: ',f_sum)
print('Factors count is: ',f_cnt)

10
Factors are:
1 2 5 10
Factors sum is:  18
Factors count is:  4

In [2]:
## Check the given number is prime or not

u = int(input())
f_c = 0
for i in range(1,u+1):
    if u%i == 0:
        f_c += 1
if f_c == 2:
    print('Prime number')
else:
    print('Not prime number')

6
Not prime number

In [6]:
h = int(input())
f_sum = 0
for j in range(1,h):
    if h%j == 0:
        f_sum += j
if(f_sum == h):
    print('Perfect number')
else:
    print('Not a perfect number')

28
Perfect number

In [7]:
## input: 1,10
## output: 10 9 8 7 6 5 4 3 2 1

for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [12]:
s = int(input())
e = int(input())
for j in range(e,s-1,-1):
    print(j,end=' ')

1
10
10 9 8 7 6 5 4 3 2 1

### While loop

- Used to repeat same task into multiple times
- First difference is Syntax
- Execution time is very less compare to for loop
- while is one the keywords
- Number of iterations are unknown

initialization
while(condition):
    statements/logic
    inc/dec/updation

In [14]:
## printing N natural numbers through while loop

i = 1
s = 0
n = int(input())
while(i<=n):
    s += i
    print(i,end=' ')
    i += 1 ## increment // i -= 1 decrement
print('\nSum is: ',s)

10
1 2 3 4 5 6 7 8 9 10
Sum is:  55

In [16]:
## Reverse of the number
## input: 1234
## output: 4321

n = int(input())
rev = 0
while(n != 0): ## 123  // 12 // 1
    rem = n%10  ## rem = 3 // 2 // 1
    rev = rev*10+rem ## rev = 0+3 // rev = 3*10+2 = 32// rev= 32*10+1= 321
    n = n//10 ## n 12 // n = 1
print(rev)

384576
675483

### Check the given number is palindrom or not

In [19]:
## input: 121
## output: Palindrom

n = int(input())
temp = n
rev = 0
while(n!=0):
    rem = n%10
    rev = rev*10+rem
    n = n//10
# print(n)
if(rev == temp):
    print('Palindrom')
else:
    print('Not palindrom')

567
Not palindrom